@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration-line: none;
}

li {
    list-style-type: none;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: black;
}